<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
       {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
     {{ bootstrap.load_css() }}

      {% endblock %}

    <title>Edit Book Rating</title>
  </head>
  <body>
  <div class="container">
     <form action="{{ url_for('edit_rating')  }}" method="POST">
         <p>Book Name: {{ book.title }} </p>
         <p>Current Rating: {{ book.rating }}</p>
         <input hidden="hidden" name="id" value="{{ book.id }}" />
         <input name="rating" type="text" placeholder="New Rating" />
         <button type="submit">Change Rating</button>
     </form>
  </div>
  </body>
</html>